--
-- PostgreSQL database dump
--

-- Dumped from database version 12.17 (Ubuntu 12.17-1.pgdg22.04+1)
-- Dumped by pg_dump version 12.17 (Ubuntu 12.17-1.pgdg22.04+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE universe;
--
-- Name: universe; Type: DATABASE; Schema: -; Owner: freecodecamp
--

CREATE DATABASE universe WITH TEMPLATE = template0 ENCODING = 'UTF8' LC_COLLATE = 'C.UTF-8' LC_CTYPE = 'C.UTF-8';


ALTER DATABASE universe OWNER TO freecodecamp;

\connect universe

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: galaxy; Type: TABLE; Schema: public; Owner: freecodecamp
--

CREATE TABLE public.galaxy (
    galaxy_id integer NOT NULL,
    universe_name character varying(50) NOT NULL,
    description text NOT NULL,
    has_life boolean NOT NULL,
    age_in_millions_of_years integer NOT NULL,
    size_in_cubic_meters integer NOT NULL,
    distance_from_earth numeric,
    name character varying(50),
    galaxy_name character varying(50)
);


ALTER TABLE public.galaxy OWNER TO freecodecamp;

--
-- Name: galaxy_galaxy_id_seq; Type: SEQUENCE; Schema: public; Owner: freecodecamp
--

CREATE SEQUENCE public.galaxy_galaxy_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.galaxy_galaxy_id_seq OWNER TO freecodecamp;

--
-- Name: galaxy_galaxy_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: freecodecamp
--

ALTER SEQUENCE public.galaxy_galaxy_id_seq OWNED BY public.galaxy.galaxy_id;


--
-- Name: moon; Type: TABLE; Schema: public; Owner: freecodecamp
--

CREATE TABLE public.moon (
    moon_id integer NOT NULL,
    name character varying(50) NOT NULL,
    description text NOT NULL,
    has_life boolean NOT NULL,
    age_in_millions_of_years integer NOT NULL,
    size_in_cubic_meters integer NOT NULL,
    distance_from_earth numeric,
    planet_name character varying(50)
);


ALTER TABLE public.moon OWNER TO freecodecamp;

--
-- Name: moon_moon_id_seq; Type: SEQUENCE; Schema: public; Owner: freecodecamp
--

CREATE SEQUENCE public.moon_moon_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.moon_moon_id_seq OWNER TO freecodecamp;

--
-- Name: moon_moon_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: freecodecamp
--

ALTER SEQUENCE public.moon_moon_id_seq OWNED BY public.moon.moon_id;


--
-- Name: planet; Type: TABLE; Schema: public; Owner: freecodecamp
--

CREATE TABLE public.planet (
    planet_id integer NOT NULL,
    name character varying(50) NOT NULL,
    description text NOT NULL,
    has_life boolean NOT NULL,
    age_in_millions_of_years integer NOT NULL,
    size_in_cubic_meters integer NOT NULL,
    distance_from_earth numeric,
    planet_name character varying(50),
    star_name character varying(50)
);


ALTER TABLE public.planet OWNER TO freecodecamp;

--
-- Name: planet_planet_id_seq; Type: SEQUENCE; Schema: public; Owner: freecodecamp
--

CREATE SEQUENCE public.planet_planet_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.planet_planet_id_seq OWNER TO freecodecamp;

--
-- Name: planet_planet_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: freecodecamp
--

ALTER SEQUENCE public.planet_planet_id_seq OWNED BY public.planet.planet_id;


--
-- Name: star; Type: TABLE; Schema: public; Owner: freecodecamp
--

CREATE TABLE public.star (
    star_id integer NOT NULL,
    name character varying(50) NOT NULL,
    description text NOT NULL,
    has_life boolean NOT NULL,
    age_in_millions_of_years integer NOT NULL,
    size_in_cubic_meters integer NOT NULL,
    distance_from_earth numeric,
    star_name character varying(50),
    galaxy_name character varying(50)
);


ALTER TABLE public.star OWNER TO freecodecamp;

--
-- Name: star_star_id_seq; Type: SEQUENCE; Schema: public; Owner: freecodecamp
--

CREATE SEQUENCE public.star_star_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.star_star_id_seq OWNER TO freecodecamp;

--
-- Name: star_star_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: freecodecamp
--

ALTER SEQUENCE public.star_star_id_seq OWNED BY public.star.star_id;


--
-- Name: universe; Type: TABLE; Schema: public; Owner: freecodecamp
--

CREATE TABLE public.universe (
    universe_id integer NOT NULL,
    universe_name character varying(50) NOT NULL,
    has_life boolean NOT NULL,
    description text NOT NULL,
    age_in_millions_of_years integer NOT NULL,
    size_in_cubic_meters integer NOT NULL,
    distance_from_earth numeric,
    name character varying(50)
);


ALTER TABLE public.universe OWNER TO freecodecamp;

--
-- Name: universe_universe_id_seq; Type: SEQUENCE; Schema: public; Owner: freecodecamp
--

CREATE SEQUENCE public.universe_universe_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.universe_universe_id_seq OWNER TO freecodecamp;

--
-- Name: universe_universe_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: freecodecamp
--

ALTER SEQUENCE public.universe_universe_id_seq OWNED BY public.universe.universe_id;


--
-- Name: galaxy galaxy_id; Type: DEFAULT; Schema: public; Owner: freecodecamp
--

ALTER TABLE ONLY public.galaxy ALTER COLUMN galaxy_id SET DEFAULT nextval('public.galaxy_galaxy_id_seq'::regclass);


--
-- Name: moon moon_id; Type: DEFAULT; Schema: public; Owner: freecodecamp
--

ALTER TABLE ONLY public.moon ALTER COLUMN moon_id SET DEFAULT nextval('public.moon_moon_id_seq'::regclass);


--
-- Name: planet planet_id; Type: DEFAULT; Schema: public; Owner: freecodecamp
--

ALTER TABLE ONLY public.planet ALTER COLUMN planet_id SET DEFAULT nextval('public.planet_planet_id_seq'::regclass);


--
-- Name: star star_id; Type: DEFAULT; Schema: public; Owner: freecodecamp
--

ALTER TABLE ONLY public.star ALTER COLUMN star_id SET DEFAULT nextval('public.star_star_id_seq'::regclass);


--
-- Name: universe universe_id; Type: DEFAULT; Schema: public; Owner: freecodecamp
--

ALTER TABLE ONLY public.universe ALTER COLUMN universe_id SET DEFAULT nextval('public.universe_universe_id_seq'::regclass);


--
-- Data for Name: galaxy; Type: TABLE DATA; Schema: public; Owner: freecodecamp
--

INSERT INTO public.galaxy VALUES (2, 'andromeda', 'awefawef', true, 185, 95, 45, NULL, NULL);
INSERT INTO public.galaxy VALUES (3, 'crab', 'awefawef', true, 185, 95, 45, NULL, NULL);
INSERT INTO public.galaxy VALUES (4, 'milky_way', 'awefawef', true, 185, 95, 45, NULL, NULL);
INSERT INTO public.galaxy VALUES (9, 'andromeda3', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'foo', 'foo');
INSERT INTO public.galaxy VALUES (10, 'andromed', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bar', 'bar');
INSERT INTO public.galaxy VALUES (11, 'andromeds4', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bas', 'bas');


--
-- Data for Name: moon; Type: TABLE DATA; Schema: public; Owner: freecodecamp
--

INSERT INTO public.moon VALUES (1, 'owmega', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'alpha');
INSERT INTO public.moon VALUES (2, 'owmeg88+a', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'alpha');
INSERT INTO public.moon VALUES (4, 'owmeg8855+a', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'alpha');
INSERT INTO public.moon VALUES (5, 'owmeg7778855+a', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'alpha');
INSERT INTO public.moon VALUES (6, 'owmeg777855855+a', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'alpha');
INSERT INTO public.moon VALUES (8, 'owme54g777855855+a', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'alpha');
INSERT INTO public.moon VALUES (9, 'owme54g775557855855+a', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'alpha');
INSERT INTO public.moon VALUES (10, 'owme54g77578557855855+a', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'alpha');
INSERT INTO public.moon VALUES (11, 'owme54g77542578557855855+a', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'alpha');
INSERT INTO public.moon VALUES (12, 'owme54g775425578557855855+a', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'alpha');
INSERT INTO public.moon VALUES (13, 'owme54g77542557855557855855+a', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'alpha');
INSERT INTO public.moon VALUES (14, 'owme54g7754255557855557855855+a', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'alpha');
INSERT INTO public.moon VALUES (15, 'owme54g7757774255557855557855855+a', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'alpha');
INSERT INTO public.moon VALUES (16, 'owme54g775777425555785555667855855+a', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'alpha');
INSERT INTO public.moon VALUES (17, 'owme54g7757774255557855556wef67855855+a', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'alpha');
INSERT INTO public.moon VALUES (18, 'owme54g7757774255557855556wef6667855855+a', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'alpha');
INSERT INTO public.moon VALUES (19, 'owme54g7757774255557855555567556wef67855855+a', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'alpha');
INSERT INTO public.moon VALUES (20, 'owme54g775777425521212557855556wef6667855855+a', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'alpha');
INSERT INTO public.moon VALUES (21, 'owme54g775777425521212557855556wef666722855855+a', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'alpha');
INSERT INTO public.moon VALUES (22, 'andromedqwqa', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'alpha');


--
-- Data for Name: planet; Type: TABLE DATA; Schema: public; Owner: freecodecamp
--

INSERT INTO public.planet VALUES (1, 'ssswwaanreags4', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bashwefgasswws', 'bash');
INSERT INTO public.planet VALUES (2, 'ssswweeeeaanreags4', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bashwefgeeeasswws', 'bash');
INSERT INTO public.planet VALUES (3, 'ssswweeg44eeaanreags4', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bashwefgeeeggasswws', 'bash');
INSERT INTO public.planet VALUES (4, 'ssswweeg44ggeeaanreags4', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bashwefgeeeggassswws', 'bash');
INSERT INTO public.planet VALUES (5, 'ssswweeg44ggeeaeanreags4', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bashwefgeevsdfeggassswws', 'bash');
INSERT INTO public.planet VALUES (6, 'ssswweeg44ggeeaveanreags4', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bashwefgeevsdfevggassswws', 'bash');
INSERT INTO public.planet VALUES (7, 'ssswweeg44ggeeabveanreags4', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bashwefgeevsdfbevggassswws', 'bash');
INSERT INTO public.planet VALUES (8, 'ssswweeg44ggdeeabveanreags4', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bashwefgeedvsdfbevggassswws', 'bash');
INSERT INTO public.planet VALUES (9, 'ssswweeg44ggdeegabveanreags4', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bashwefgeedvgsdfbevggassswws', 'bash');
INSERT INTO public.planet VALUES (11, 'ssswweeg44ggdeeeegabveanreags4', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bashwefgeedvgsdfeeebevggassswws', 'bash');
INSERT INTO public.planet VALUES (12, 'ssswweeg44ggdeee3egabveanreags4', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bashwefgeedvgsdfeeebe3vggassswws', 'bash');
INSERT INTO public.planet VALUES (13, 'ssswweeg44ggdeee3eg4abveanreags4', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bashwefgeed4vgsdfeeebe3vggassswws', 'bash');
INSERT INTO public.planet VALUES (14, 'ssswweeg44ggdeee3eg4ab644veanreags4', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bashwefgeed644vgsdfeeebe3vggassswws', 'bash');
INSERT INTO public.planet VALUES (15, 'ssswweeg44ggdeee3eg47ab644veanreags4', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bashwefgeed644vgsdfeeebe3vgg8assswws', 'bash');
INSERT INTO public.planet VALUES (16, 'ssswweeg44ggdeee3eg47ab8644veanreags4', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bashwefgeed644vgsdfeeeb8e3vgg8assswws', 'bash');
INSERT INTO public.planet VALUES (17, 'ssswweeg44ggdeee3eg47ab8644v8eanreags4', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bashwefgeed644vgsdfeeeb8e3v888gg8assswws', 'bash');
INSERT INTO public.planet VALUES (18, 'omega', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'alpha', 'bash');


--
-- Data for Name: star; Type: TABLE DATA; Schema: public; Owner: freecodecamp
--

INSERT INTO public.star VALUES (1, 'anre', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bash', 'bas');
INSERT INTO public.star VALUES (2, 'aanre', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bashwef', 'bas');
INSERT INTO public.star VALUES (3, 'aanrea', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bashwefa', 'bas');
INSERT INTO public.star VALUES (4, 'aanreag', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bashwefga', 'bas');
INSERT INTO public.star VALUES (5, 'aanreags4', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bashwefgas', 'bas');
INSERT INTO public.star VALUES (7, 'sssaanreags4', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bashwefgasss', 'bas');
INSERT INTO public.star VALUES (8, 'sssaanreafewgs4', 'awefawefwe awef awef awef efa', false, 105, 5555, 12.2, 'bashwaweefgasss', 'bas');


--
-- Data for Name: universe; Type: TABLE DATA; Schema: public; Owner: freecodecamp
--

INSERT INTO public.universe VALUES (2, 'milky_way', true, 'our_galaxy', 145, 172, NULL, NULL);
INSERT INTO public.universe VALUES (3, 'andromeda', true, 'another_galaxy', 102, 2222, NULL, NULL);
INSERT INTO public.universe VALUES (4, 'crab', false, 'crab_galaxy', 102, 2222, NULL, NULL);


--
-- Name: galaxy_galaxy_id_seq; Type: SEQUENCE SET; Schema: public; Owner: freecodecamp
--

SELECT pg_catalog.setval('public.galaxy_galaxy_id_seq', 11, true);


--
-- Name: moon_moon_id_seq; Type: SEQUENCE SET; Schema: public; Owner: freecodecamp
--

SELECT pg_catalog.setval('public.moon_moon_id_seq', 22, true);


--
-- Name: planet_planet_id_seq; Type: SEQUENCE SET; Schema: public; Owner: freecodecamp
--

SELECT pg_catalog.setval('public.planet_planet_id_seq', 18, true);


--
-- Name: star_star_id_seq; Type: SEQUENCE SET; Schema: public; Owner: freecodecamp
--

SELECT pg_catalog.setval('public.star_star_id_seq', 8, true);


--
-- Name: universe_universe_id_seq; Type: SEQUENCE SET; Schema: public; Owner: freecodecamp
--

SELECT pg_catalog.setval('public.universe_universe_id_seq', 4, true);


--
-- Name: galaxy galaxy_galaxy_name_key; Type: CONSTRAINT; Schema: public; Owner: freecodecamp
--

ALTER TABLE ONLY public.galaxy
    ADD CONSTRAINT galaxy_galaxy_name_key UNIQUE (galaxy_name);


--
-- Name: galaxy galaxy_name_key; Type: CONSTRAINT; Schema: public; Owner: freecodecamp
--

ALTER TABLE ONLY public.galaxy
    ADD CONSTRAINT galaxy_name_key UNIQUE (universe_name);


--
-- Name: galaxy galaxy_pkey; Type: CONSTRAINT; Schema: public; Owner: freecodecamp
--

ALTER TABLE ONLY public.galaxy
    ADD CONSTRAINT galaxy_pkey PRIMARY KEY (galaxy_id);


--
-- Name: moon moon_name_key; Type: CONSTRAINT; Schema: public; Owner: freecodecamp
--

ALTER TABLE ONLY public.moon
    ADD CONSTRAINT moon_name_key UNIQUE (name);


--
-- Name: moon moon_pkey; Type: CONSTRAINT; Schema: public; Owner: freecodecamp
--

ALTER TABLE ONLY public.moon
    ADD CONSTRAINT moon_pkey PRIMARY KEY (moon_id);


--
-- Name: planet planet_name_key; Type: CONSTRAINT; Schema: public; Owner: freecodecamp
--

ALTER TABLE ONLY public.planet
    ADD CONSTRAINT planet_name_key UNIQUE (name);


--
-- Name: planet planet_pkey; Type: CONSTRAINT; Schema: public; Owner: freecodecamp
--

ALTER TABLE ONLY public.planet
    ADD CONSTRAINT planet_pkey PRIMARY KEY (planet_id);


--
-- Name: planet planet_planet_name_key; Type: CONSTRAINT; Schema: public; Owner: freecodecamp
--

ALTER TABLE ONLY public.planet
    ADD CONSTRAINT planet_planet_name_key UNIQUE (planet_name);


--
-- Name: star star_name_key; Type: CONSTRAINT; Schema: public; Owner: freecodecamp
--

ALTER TABLE ONLY public.star
    ADD CONSTRAINT star_name_key UNIQUE (name);


--
-- Name: star star_pkey; Type: CONSTRAINT; Schema: public; Owner: freecodecamp
--

ALTER TABLE ONLY public.star
    ADD CONSTRAINT star_pkey PRIMARY KEY (star_id);


--
-- Name: star star_star_name_key; Type: CONSTRAINT; Schema: public; Owner: freecodecamp
--

ALTER TABLE ONLY public.star
    ADD CONSTRAINT star_star_name_key UNIQUE (star_name);


--
-- Name: universe universe_name_key; Type: CONSTRAINT; Schema: public; Owner: freecodecamp
--

ALTER TABLE ONLY public.universe
    ADD CONSTRAINT universe_name_key UNIQUE (universe_name);


--
-- Name: universe universe_name_key1; Type: CONSTRAINT; Schema: public; Owner: freecodecamp
--

ALTER TABLE ONLY public.universe
    ADD CONSTRAINT universe_name_key1 UNIQUE (name);


--
-- Name: universe universe_pkey; Type: CONSTRAINT; Schema: public; Owner: freecodecamp
--

ALTER TABLE ONLY public.universe
    ADD CONSTRAINT universe_pkey PRIMARY KEY (universe_id);


--
-- Name: moon moon_planet_name_fkey; Type: FK CONSTRAINT; Schema: public; Owner: freecodecamp
--

ALTER TABLE ONLY public.moon
    ADD CONSTRAINT moon_planet_name_fkey FOREIGN KEY (planet_name) REFERENCES public.planet(planet_name);


--
-- Name: planet planet_star_name_fkey; Type: FK CONSTRAINT; Schema: public; Owner: freecodecamp
--

ALTER TABLE ONLY public.planet
    ADD CONSTRAINT planet_star_name_fkey FOREIGN KEY (star_name) REFERENCES public.star(star_name);


--
-- Name: star star_galaxy_name_fkey; Type: FK CONSTRAINT; Schema: public; Owner: freecodecamp
--

ALTER TABLE ONLY public.star
    ADD CONSTRAINT star_galaxy_name_fkey FOREIGN KEY (galaxy_name) REFERENCES public.galaxy(galaxy_name);


--
-- PostgreSQL database dump complete
--

# Auto detect text files and perform LF normalization
* text=auto
